# Python backend
back/__pycache__/
back/*.py[cod]
back/venv/
back/.env

# Node frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.DS_Store
frontend/.vite/

# General
*.log
.env
.DS_Store

# VSCode
.vscode/

# Docker
**/__pycache__/
**/*.pyc